 .prod-img{
  width: 100px;
  height: 100px;
  transition: transform .3s;
  align-items: center;
  justify-content: center;
}

  
 
 .prod-img:hover{
  transform: scale(1.2) !important;
 }

 
 .prod-card{
  border: 1px solid black;
  margin: 10px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(#4AC29A,#BDFFF3)
}
.prod-card > h5{
  margin-left: 2rem;
}
.add{
  margin-left: 4.5rem;
  margin-bottom: 10px;
}
 
 
   
  
  